<h1>Vendor Spender</h1>
<form action="/orders" method="post">
<label for="name">Vendor name: </label>
<input id="name" name="name" type="text">
<br>
<label for="ordered">Product: </label>
<input id="ordered" name="ordered" type="text">
<br>
<label for="amount">Quantity: </label>
<input id="amount" name="amount" type="text">
<button type="submit">Submit Order</button>
</form>