<h1>Vendor Spender</h1>

<form action="/vendors" method="post">
    <label for="name">Vendor Name: </label>
    <input id="name" name="name" type="text">
    <button type="submit">Submit</button>
</form>